@inject Business.Abstract.ISettingService SETTING

@using Entity.ViewModels.Quote
@model QuotePostVM
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Request A Quote</h5>
                    <h1 class="mb-0">Need A Free Quote? Please Feel Free to Contact Us</h1>
                </div>
                <div class="row gx-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone support</h5>
                    </div>
                </div>
                <p class="mb-4">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">@SETTING.GetAllAsync().Result.FirstOrDefault().Phone</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                    <form asp-controller="Home" asp-action="index" method="post">
                        <div class="row g-3">
                            <input hidden asp-for="@User.Identity.Name" />
                            <div class="col-12">
                                <textarea asp-for="@Model.Message" class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                                {
                                    <button class="btn btn-dark w-100 py-3" type="submit">Request A Quote</button>
                                }
                                else if (User.IsInRole("Developer"))
                                {
                                    <input class="btn btn-dark w-100 py-3" readonly placeholder="Only users can write quote" />
                                }
                                else
                                {
                                    <a asp-controller="account" asp-action="login" class="btn btn-dark w-100 py-3" type="submit">Request A Quote</a>
                                }



                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
